

# Test Report
--------------------------------------- 

### <br>1. Component Testing<br>
The majority of testing occured on the individual functions of our code, to make debugging easier. Some of these functions included storeReminder, loadReminder, createReminder, deleteReminder, etc. All the reminder functions were tested with pseudo-reminders, false information that closely resembled a realistic reminder that one of our expected users would enter into our app. It was during this stage that we made sure our data was handled correctly and reliably, so that our app would be trusted by our users to meet their expectations.

### <br>2. System Testing<br>
When testing the integration of our system as a whole, we devised a set of reminder data based on our typical weeks as a student, which our app would be very valuable towards. By adding various assignments due on various, overlapping days, our app would be tested in its most complex scenario. In addition, we ran test benches that simulated use of our program over days, weeks, and even more time. The greatest benefit of our app comes with consistent use, which is why it was important to implement these tests.

### <br>3. Acceptance Testing<br>
One of the most important factors to our users is ease of use, described in user story "Graphical User Interface". We focused a portion of our testing on users being able to navigate and use our app with little to no instruction, which was successful. Everyone gets busy sometimes, so our acceptance testing also included the creation of tasks unique to each situation. Discussed in our user story "Custom Task Creation" we verified the flexibility of creating tasks/reminders on our app and its reliability in keeping them to provide the most value to a user. Both of these features can be consideed implemented.
